@import "tailwindcss";

@theme {
  --color-institutional: #1E3A8A;
  --color-prestige: #D4AF37;
  --color-pearl: #F8FAFC;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-sans);
}
